.App {
  text-align: center;
  justify-content: space-around;
}

.page1 {
  flex: 1;
  min-height: 100vh;
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page2 {
  flex: 1;
  min-height: 100vh;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  font-family: 'Libre Baskerville', serif;
  margin-top: 0px;
  padding-top: 10px;
}

form span {
  font-weight: bold;
}

.currValue{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: red;

}

table {
  font-family: 'Raleway',sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 22px;
}

th{
  background-color: white;
  color: black;
  text-align: center;
}

td, th {
  border: 1px solid #202022;
  padding: 8px;
}

button{
  font-family: 'Libre Baskerville', serif;
  padding: 10px;
  font-size: 18px;
  color: beige;
  border-radius: 10%/50%;
  background-color: crimson;
  margin-bottom: 14px;
}

@media only screen and (min-width: 640px) {
  .App {
    display: flex;
  }
}
